@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

.header-bg {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.233);
  background-color: white;
}
.custom-container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    /* max-width: 1140px !important; */
    max-width: 1320px !important;
  }
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-brand {
  height: auto !important;
}

.navbar-default .navbar-nav > li > a {
  color: #212529 !important;
  font-weight: 700 !important;
}

.label-default {
  color: #6c757d !important;
  border: 1px solid #6c757d !important;
  padding: 0.3rem !important;
  background-color: transparent;
}

.header-top {
  min-height: 20px;
  background: #212529;
  border-radius: 0;
  border: none;
}

.main-navbar {
  border: none;
  background: #fff;
}

.lang-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.8px !important;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0.5rem;
  font-weight: 600 !important;
}

@media (min-width: 992px) {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 960px;
  }
  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-nav-center {
    display: flex;
    flex-wrap: nowrap;
    float: none;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav-center > li {
    display: inline-block;
    float: none;
  }
  .navbar-nav-center > li a {
    padding: 8px !important;
  }
  .navbar-right {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 15px;
    text-decoration: none;
    font-weight: 700 !important;
  }
  .navbar-right a {
    text-decoration: none;
    font-weight: 700 !important;
    font-size: 16px;
    color: #212529 !important;
  }
  .navbar-header {
    display: flex;
    align-items: center;
  }
  .navbar-collapse {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-brand {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 0;
    padding-right: 0;
    margin-right: 16px;
  }
}

@media (max-width: 992px) {
  .container {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .container-fluid .nav_right_desktop {
    display: none !important;
  }
  .container-fluid > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container > .navbar-header {
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-header {
    float: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .navbar-toggle {
    font-size: 1.25rem;
    font-weight: 700;
    display: block;
    margin-right: 0;
    padding: 9px 12px 9px 12px;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .collapsing {
    overflow: hidden !important;
  }
  .navbar-nav-center {
    text-align: center;
  }
  .navbar-light .navbar-toggler {
    background: transparent;
    border-color: #6c757d !important;
    border: 1px solid !important;
  }

  .navbar-right {
    text-align: center;
    display: flex !important;
    flex-direction: column !important;
  }
  .navbar-right a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #212529 !important;
    font-weight: 700 !important;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none;
  }
  .navbar-collapse.in {
    overflow: hidden !important;
  }
}

@media screen and (max-width: 678px) {
  .navbar-collapse.collapse.in {
    text-align: center;
    border-top: 1px solid #6c757d !important;
    margin-top: 1rem !important;
  }
}

/* Footer */

footer {
  margin-top: 200px;
}

.footer-bg {
  background-image: url(/images/footer.svg);
  background-repeat: no-repeat;
  background-size: 141%;
  background-position-x: -1358px;
  background-position-y: -447px;
  background-color: #292929;
}

.bottom-contact-bar {
  display: none;
}
@media (max-width: 992px) {
  .bottom-contact-bar {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #212529;
  }
  .footer-bg {
    padding-bottom: 16px;
  }
  .b24-widget-button-position-bottom-right,
  .social {
    margin-bottom: 24px;
  }
  .navbar-text {
    margin: 0;
  }
  .navbar-text a {
    text-decoration: none;
    color: inherit;
  }
  .fs-20 {
    font-size: 16px !important;
    margin-top: 35px;
  }
}

.text-light a {
  text-decoration: none !important;
  transition: all ease-in-out;
}
.text-light a:hover {
  color: #bfbfbf;
}
.color-bfbfbf {
  color: #bfbfbf;
}
.other_color {
  color: white !important;
}

.col-md-12 .fw-500 {
  font-weight: 500;
}
.fs-20 {
  font-size: 20px;
}
.norender {
  display: none;
  visibility: hidden;
}

.text-light {
  color: #f8f9fa;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.list-unstyled li {
  padding-top: 10px;
  font-size: 16px;
}
